on: [push, workflow_dispatch]
    
name: Find LaunchDarkly flag code references
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  launchDarklyCodeReferences:
    name: LaunchDarkly Code References
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: launchdarkly/SupportService
        fetch-depth: 11
    - name: LaunchDarkly Code References
      uses: launchdarkly/find-code-references@main
      with:
        accessToken: ${{ secrets.LD_ACCESS_TOKEN }}
        debug: true
        ignoreServiceErrors: true
        projKey: support-service
        allowTags: true
